apiVersion: v1
kind: Secret
metadata:
  name: ${CON_REG_SECRET_NAME}-pull-secret
type: Opaque 
data: 
  username: ${CON_REG_ACC_USER_NAME} 
  password: ${CON_REG_ACC_PWD}
stringData: 
  hostname: registry.redhat.io
